body {
    background: grey;
    box-sizing: border-box;
}

table {
    border-spacing: 0;
}

#numbers {
    transform: rotate(90deg);
}

#numbers td {
    transform: rotate(-90deg);
}

td {
    text-align: center;
    width: 80px;
    height: 80px;
}

.white {
    background: tan;
}

.black {
    background: brown;
}

img {
    max-width: 3em;
}

.start-knight {
    content: url("./img/knight-start.svg");
}

.end-knight {
    content: url("./img/knight-end.svg");
}
